:root {
  --dmt-container-border-radius: 0.5rem;
  --dmt-container-box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.5);
  --dmt-container-box-shadow-floating: 0 0 0.75rem rgba(0, 0, 0, 0.5);
  --dmt-container-max-height: calc(100vh - var(--dmt-header-height));
  --dmt-container-padding: 1rem;

  // For member / variable / function sections.  Alas there are element margins to further manipulate.
  --dmt-container-padding-member: 0.25rem 0.25rem 0 0.5rem;

  --dmt-header-height: 42px;

  --dmt-menu-item-background-hover: var(--color-accent);
  --dmt-menu-item-background-selected: var(--color-accent);

  // Additional 1.5 rem to take into account padding at top and to give the appearance of padding at the bottom for
  // `On This Page`.
  --dmt-page-menu-max-height: calc(100vh - var(--dmt-header-height) - 1.5rem);

  // A defined max-height for the col-sidebar when it displays.
  --dmt-sidebar-max-height: calc(100vh - var(--dmt-header-height) - 0.5rem);
}


:root[data-theme="dark"] {
  --dmt-container-background: rgba(0, 0, 0, 0.1);
  --dmt-container-border: 2px solid rgba(0, 0, 0, 0.2);
  --dmt-container-floating-border: 2px solid rgba(0, 0, 0, 0.6);
  --dmt-container-separator-border: 1px solid rgba(0, 0, 0, 0.8);
  --dmt-header-box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.6);
  --dmt-container-box-shadow-floating: 0 0 0.75rem rgba(0, 0, 0, 0.6);
}

:root[data-theme="light"] {
  --dmt-container-background: rgba(0, 0, 0, 0.05);
  --dmt-container-border: 2px solid rgba(0, 0, 0, 0.1);
  --dmt-container-floating-border: 2px solid rgba(0, 0, 0, 0.3);
  --dmt-container-separator-border: 1px solid rgba(0, 0, 0, 0.4);
  --dmt-header-box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.3);
  --dmt-container-box-shadow-floating: 0 0 0.75rem rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --dmt-container-background: rgba(0, 0, 0, 0.1);
    --dmt-container-border: 2px solid rgba(0, 0, 0, 0.2);
    --dmt-container-floating-border: 2px solid rgba(0, 0, 0, 0.6);
    --dmt-container-separator-border: 1px solid rgba(0, 0, 0, 0.8);
    --dmt-header-box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.6);
    --dmt-container-box-shadow-floating: 0 0 0.75rem rgba(0, 0, 0, 0.6);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --dmt-container-background: rgba(0, 0, 0, 0.05);
    --dmt-container-border: 2px solid rgba(0, 0, 0, 0.1);
    --dmt-container-floating-border: 2px solid rgba(0, 0, 0, 0.3);
    --dmt-container-separator-border: 1px solid rgba(0, 0, 0, 0.4);
    --dmt-header-box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.3);
    --dmt-container-box-shadow-floating: 0 0 0.75rem rgba(0, 0, 0, 0.3);
  }
}

/* Container Queries ------------------------------------------------------------------------------------------------ */

.col-content {
  container: col-content / inline-size;
}

.site-menu {
  container: site-menu / inline-size;
}

/* Layout additions ------------------------------------------------------------------------------------------------- */

// .tsd-page-title h1 is wrapped with this div. Allowing additional elements to be added right aligned.
.dmt-title-header-flex {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  h1 {
    margin-right: auto;
  }
}

// This expands the space of the anchor icon allowing additional elements to be added right aligned.
.tsd-panel.tsd-member .tsd-anchor-link .tsd-anchor-icon {
  margin-right: auto;
}

// The following `:focus-visible` rules cover the programmatic focusing of scroll containers. Please see documentation
// in `./src/web-components/scrollActivation.js`.
.site-menu:focus-visible {
  outline: solid 2px transparent;
}

details.tsd-page-navigation .tsd-accordion-details:focus-visible {
  outline: solid 2px transparent;
}

div.container.container-main {
  outline: solid 2px transparent;
}

/* Layout Tweaks ---------------------------------------------------------------------------------------------------- */

header.tsd-page-toolbar {
  position: fixed;
  height: var(--dmt-header-height);
  top: 0;
}

.container {
  max-width: 2000px;
}

.container.container-main {
  margin-top: var(--dmt-header-height);
  max-height: var(--dmt-container-max-height);
  overflow-x: hidden;
  overflow-y: auto;
}

.col-content {
  height: fit-content;
  margin-top: 0.75rem;
}

.site-menu {
  margin-top: 0;
  max-height: var(--dmt-sidebar-max-height);
  padding-top: 0.5rem;
  padding-left: 0.1rem; // For outline
  top: 0;

  // Just the accordion summary elements in the nav sidebar.
  .tsd-accordion-summary {
    display: flex;
    align-items: center;
  }

  .tsd-nested-navigation {
    margin-left: 2.5rem;
  }
}

.page-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-height: var(--dmt-page-menu-max-height);
  overflow: revert;
  padding-left: 0.25rem;
  padding-top: 0.75rem;
  top: 0;
  position: sticky;
}

// Style generator div as container.
.tsd-generator {
  background: var(--dmt-container-background);
  border: var(--dmt-container-border);
  border-radius: var(--dmt-container-border-radius);
  margin-bottom: 0.75rem;
}

@media (min-width: 770px) and (max-width: 1399px) {
  .col-sidebar {
    max-height: var(--dmt-sidebar-max-height);
    padding-top: 0.75rem;
    top: 0;
  }
}

nav.tsd-navigation {
  padding-bottom: 1rem; // This allows the bottom most element in the nav bar to be visible above browser URL hint.
}

/* CQ Content ------------------------------------------------------------------------------------------------------- */

@container col-content (min-width: 0) {
  .tsd-page-title h1 {
    font-size: clamp(1rem, 4cqi, 3rem);
  }

  .tsd-kind-icon ~ span {
    font-size: clamp(0.8rem, 2.5cqi, 1rem);
  }

  h5 {
    font-size: clamp(0.8rem, 2.5cqi, 1rem);
  }
}

@container site-menu (min-width: 0) {
  .tsd-navigation a {
    font-size: clamp(0.8rem, 5cqi, 1rem);
  }
}

/* Header ----------------------------------------------------------------------------------------------------------- */

// Adjust padding for icon buttons to be centered
.tsd-page-toolbar {
  box-shadow: var(--dmt-header-box-shadow);

  .tsd-toolbar-icon {
    padding: 12px 12px;
  }
}

/* Main Container --------------------------------------------------------------------------------------------------- */

.container {
  padding: 0 1rem;
  margin: 0 auto;

  // `Index` details element -------------------------------

  .tsd-panel-group.tsd-index-group details {
    background: var(--dmt-container-background);
    border: var(--dmt-container-border);
    border-radius: var(--dmt-container-border-radius);
    box-shadow: var(--dmt-container-box-shadow);
    padding: var(--dmt-container-padding);

    .tsd-index-heading {
      margin: 0 0 15px 0;
    }

    &:not([open]) {
      .tsd-index-heading.uppercase {
        margin: 0;
      }
    }

    .tsd-accordion-details section:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  // Module Index Panels -----------------------------------
  section.tsd-index-section .tsd-index-list {
    background: var(--dmt-container-background);
    border: var(--dmt-container-border);
    border-radius: var(--dmt-container-border-radius);
    box-shadow: var(--dmt-container-box-shadow);
    padding: var(--dmt-container-padding);
  }

  // Member Panels -----------------------------------------

  section.tsd-panel.tsd-member {
    background: var(--dmt-container-background);
    border: var(--dmt-container-border);
    border-radius: var(--dmt-container-border-radius);
    box-shadow: var(--dmt-container-box-shadow);
    padding: var(--dmt-container-padding-member);

    // Override default theme margin.
    margin-bottom: 2rem;
  }

  // Function parameters -----------------------------------
  ul.tsd-parameter-list {
    background: var(--dmt-container-background);
    border: var(--dmt-container-border);
    border-radius: var(--dmt-container-border-radius);
    box-shadow: var(--dmt-container-box-shadow);
    padding: var(--dmt-container-padding-member);
    padding-left: 1.5rem;

    h5:first-child {
      margin-top: 0;
    }
  }

  // Various internal parameter lists ----------------------
  ul.tsd-parameters {
    background: var(--dmt-container-background);
    border: var(--dmt-container-border);
    border-radius: var(--dmt-container-border-radius);
    box-shadow: var(--dmt-container-box-shadow);
    padding: var(--dmt-container-padding-member);
    padding-left: 1.5rem;

    h5:first-child {
      margin-top: 0;
    }
  }

  // Breadcrumb --------------------------------------------

  // Remove trailing `/`
  .tsd-breadcrumb li:last-child:after {
    content: "";
  }
}


/* Sidebar ---------------------------------------------------------------------------------------------------------- */

// Hide `On This Page` when col-sidebar becomes activated and moves content to the left.
@media (width < 1200px) {
  .tsd-index-accordion.tsd-page-navigation {
    display: none;
  }

  .page-menu {
    padding-top: 0;       // When displayed on the left
    padding-right: 1rem;
    position: static;     // Must remove sticky!
  }

  .site-menu {
    max-height: unset;    // This is tricky, but col-sidebar becomes the parent, so unset max-height.
  }
}

.page-menu {
  // Styling for sidebar `Settings`
  .tsd-navigation.settings {
    background: var(--dmt-container-background);
    border: var(--dmt-container-border);
    border-radius: var(--dmt-container-border-radius);
    box-shadow: var(--dmt-container-box-shadow-floating);
    padding: var(--dmt-container-padding);

    margin: 0;

    .tsd-filter-visibility h4 {
      padding-top: 0.25rem;
    }
  }

  // Styling for sidebar `On This Page`
  details.tsd-index-accordion.tsd-page-navigation {
    background: var(--dmt-container-background);
    border: var(--dmt-container-border);
    border-radius: var(--dmt-container-border-radius);
    box-shadow: var(--dmt-container-box-shadow-floating);
    overflow: hidden;
    padding: var(--dmt-container-padding);

    // Make the details content overflow / scrollbars.
    .tsd-accordion-details {
      overflow: auto;
      height: 100%;

      ul {
        padding-left: 0.5rem;

        li:last-child {
          padding-bottom: 36px; // TODO: Likely need to change this to the DMT container header height when defined
        }
      }
    }
  }

  // Styling for sidebar `On This Page` detail element open.
  details[open].tsd-index-accordion.tsd-page-navigation {
    padding: var(--dmt-container-padding) 0 0 var(--dmt-container-padding);
  }

  // Both `Settings` and `On This Page`.
  details[open] .tsd-accordion-summary {
    padding-bottom: var(--dmt-container-padding);
    border-bottom: var(--dmt-container-border);
  }
}